@model WebApplicationTest.Models.StudentGridViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("Search")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
           @Html.ActionLink("Name", "Index", Model.QueryStringSorting("Name"))
        </th>
        <th>
            @Html.ActionLink("City", "Index", Model.QueryStringSorting("Address.City"))
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Students) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.City)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>

<p>
    Page:
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        @Html.ActionLink(i.ToString(), "Index", Model.QueryStringPaging(i))
        if (i < Model.TotalPages)
        {
            @Html.Raw(" | ")
        }
    }
</p>